main{
    div{
        img{
            width: 800px;
            height: auto;
        }
        h5{
            font-family: $mainFont;
            font-size: $textBg;
            color: $keyColor;
        }
        p{
            font-family: $mainFont;
            font-size: 18px;
            color: $keyColor;
        }
    }
}