footer{
    padding: 10px;
    margin-top: 10px;
    background-color: $secondaryColor;
  
    a:first-child{
      & > img {
        width: 40px;
        height: auto;
      }
    }
  
    a:nth-child(2){
      & > img {
        width: 90px;
        height: auto;
      }
    }
}
  