//mixins//
@mixin ajuste ($margin,$padding,$textalign){
    padding: $padding;
    margin: $margin;
    text-align: center;
}

.encabezadoN{
    @include ajuste (5px,5px,center)
}

.parraf{
    @include ajuste (5px,5px,center)
}

//extends//
.encabezado5{
    font-family: $mainFont;
    font-size: $textBg;
}

.parrafo-nos{
    @extend .encabezado5;
    color: $keyColor;
}